<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="situm-cordova-plugin-official"
    version="1.16.3">
    <name>Situm Cordova plugin Official</name>
    <description>This is the stable branch.</description>
    <license>MIT</license>
    <keywords>situm, indoor positioning</keywords>
    <repo>https://github.com/situmtech/situm-cordova-plugin.git</repo>
    <issue>https://github.com/situmtech/situm-cordova-plugin/issues</issue>

    <engines>
        <engine name="cordova-android" version=">=6.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <js-module src="www/android/situm.js" name="situm">
            <runs/>
            <clobbers target="cordova.plugins.Situm" />
        </js-module>

        <framework src="src/android/situm.gradle" custom="true" type="gradleReference" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Situm">
            <param name="android-package" value="es.situm.plugin.SitumPlugin" />
            <param name="onload" value="true" />
            </feature>
      </config-file>

      <source-file src="src/android/app/src/main/java/es/situm/plugin/SitumPlugin.java" target-dir="src/es/situm/plugin" />
      <source-file src="src/android/app/src/main/java/es/situm/plugin/PluginHelper.java" target-dir="src/es/situm/plugin" />
      <source-file src="src/android/app/src/main/java/es/situm/plugin/SitumMapper.java" target-dir="src/es/situm/plugin" />

    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/ios/situm.js" name="SitumPlugin">
            <runs/>
            <clobbers target="cordova.plugins.Situm" />
        </js-module>
        <config-file target="config.xml" parent="/*">
	    <feature name="SitumPlugin">
                <param name="ios-package" value="SitumPlugin" onload="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
		        <string>Location is required to find out where you are</string>
    		</config-file>
    		<config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
    			   <string>Location is required to find out where you are</string>
    		</config-file>
    		<config-file target="*-Info.plist" parent="NSLocationUsageDescription">
    			   <string>Location is required to find out where you are</string>
    		</config-file>

        <framework src="CFNetwork.framework" />
        <framework src="CoreData.framework" />
        <framework src="UIKit.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="CoreBluetooth.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework"/>
        <framework src="libz.dylib" />
        <framework src="libc++.dylib" />

        <framework src="SitumSDK" type="podspec" spec="2.37.0" />


        <header-file src="src/ios/situmcordovaplugin/SitumPlugin.h" />
        <header-file src="src/ios/situmcordovaplugin/SitumLocationWrapper.h" />
        <header-file src="src/ios/situmcordovaplugin/Constants.h" />
        <source-file src="src/ios/situmcordovaplugin/SitumPlugin.m" />
        <source-file src="src/ios/situmcordovaplugin/SitumLocationWrapper.m" />
        <source-file src="src/ios/situmcordovaplugin/Constants.m" />
        
    </platform>
</plugin>
