<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="situm-cordova-plugin-official-tests" version="1.3.10">
  <name>Situm Cordova plugin Official</name>
  <description>This is the stable branch.</description>
  <license>MIT</license>
  <keywords>situm, indoor positioning</keywords>
  <js-module src="tests.js" name="tests">
  </js-module>
</plugin>