// Create a constants.ts in this directory with your credentials

export const API_USER = 'YOUR_SITUM_API_USER';
export const API_KEY = 'YOUR_SITUM_API_KEY';
export const BUILDING_IDENTIFIER = 'YOUR_BUILDING_IDENTIFIER';
export const VIEWER_DOMAIN = 'https://map-viewer.situm.com';
